body{
    background-image:url(beeb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    min-width: 100vh;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'kumbh sans, sans-serif';
    scroll-behavior: smooth;
}

.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: -moz-linear-gradient(to top, red 0%, orange 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}


.navbar__links{
    color: white;
    display: flex;
    align-content: first baseline;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    height: 100%;
}

.navbar__links:hover {
    color: blueviolet;
    transition: all 0.3s ease;
}


.hero{ 
    padding: 200px 0;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;

}

.hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: white;
}
.hero__heading span{
     background: red; /*fallback for old browser */
     background: -webkit-linear-gradient(
        to right,
        orange,
        red
     );
     backround:linear-gradient(
        to right,
        orange,
        red
     );  
     background-size: 100%;
     -webkit-background-clip:text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color:transparent;
}
.hero__description{
    font-size: 60px;
    background:paleturquoise; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;


}
.highlight{
    border-bottom: 4px solid paleturquoise (132,0,225);
}

.hero__description{
    font-size: 40px;
}


.main{
    padding: 200px 0;  
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px; 
}
.main__content{
    font-size: 60px;
    background:paleturquoise; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content h2{
    font-size: 60px;
    margin-bottom: 24px;
    color: white;
    background:purple; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content h2 span{  
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.main__content h3{
    font-size: 60px;
    margin-bottom: 24px;
    color: white;
    background:purple; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content h3 span{

     background-size: 100%;
     -webkit-background-clip:text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color:transparent;
}
.main__content p{
    font-size: 60px;
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.highlight{
    border-bottom: 4px solid paleturquoise (132,0,225);
}

.main__content{
    font-size: 40px;
} 
.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;}

  
    .services{
        padding: 200px 0
    }
    .services h1{
        font-size: 100px;
    margin-bottom: 24px;
    background:purple; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #060107

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    }
   

.services__wrapper
{ 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
}

.services__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: 0.3s ease-in;
}
.services__card h2{
    text-align: center; 
    background:red; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.services__card p{
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    background:paleturquoise; /*fallback for old browser */
    background: -webkit-linear-gradient(
       to right,
    #9114ff,
    #da22ff

    );
    backround:linear-gradient(
       to right,
       #8f0eff,
       #da22ff

    );

    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.highlight{
    border-bottom: 4px solid paleturquoise (132,0,225);
}

    

.contact { 
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

